*{
    scroll-behavior: smooth;
    
}

body{
    background-color: white;

    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter:blur(3px);
    margin:0px;
}

.navbar{
    background-color:rgb(254, 210, 0);
    display:flex;
    justify-content: center;
    margin-top: 0px;
    /* padding-top: 5px;
    padding-bottom: 5px; */
    padding:5px;
    /* margin-left: 5px;
    margin-right: 5px; */
    position:sticky;
    top:0;
    /* border-radius: 50px; */
    /* z-index: 1; */
    max-height: 50px;
}

.image1{
    height: 150px;
    margin-top: -29px;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
  
}
/* .navbar img{
    
} */
.navbar ul{
    display:flex;
    justify-content:space-evenly;
    width:90%;
    
    list-style: none;
    /* padding-bottom: 0px; */
   

}
.navbar li{
    font: size 20px;
    color: rgb(14,82,147);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:pointer;
    

}
/* .navbar li:hover{
    transform:translateY(5px);
    transition:.1s;

} */

.sign{
    
    background-color: rgb(14,82,147);
    border-radius: 20px;
    padding: 5px;
    height: fit-content;
    
}

.sign li{
    color:rgb(254, 210, 0); 
}

img{
    border-radius: 10px;
}

img:hover{
    transform: scale(95%);
    transition: 1s ease;
}

form{
    border: solid 2px;
    width:500px;
    margin-top: 170px;
    padding:20px;
    background-color: rgba(218, 235, 250, 0.24);
    border-radius: 10px;
}

button{
    background-color:rgb(254, 210, 0); 
    color: rgb(0, 0, 0);
    border-radius: 15px;
}

button:hover{
    transform: scale(95%);
    
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    
    
}

h1{
    color:rgb(254, 210, 0); 
    display:flex;
    justify-content: center;
    padding:20px;
    background-color:rgba(0, 0, 0, 0.264);
    border-radius: 40px;
    width:98%;
    
    
}
.signup{
    display:flex;
    flex-direction:column;
    align-items:center;
    height: 100vh;
    scroll-margin: 45px;
}

a{
    text-decoration: none;
    /* color:black */
}

h2{
    color: rgb(14,82,147);
    animation:move 3s;
}

p{
    color: rgb(14,82,147);
    font-style:italic;
    animation:move 3s;
    font-size: larger;
}

.image{
    display: flex;
    justify-content: center;
    animation:move 3s;
    width: 100%;
}

.players{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100vh;
    scroll-margin: 25px;
    
    
}

summary{
    color: rgb(14,82,147);
    background-color: antiquewhite;
    border-radius: 10px;
    font-size: 20;
    cursor: pointer;
    margin-left: 0px;
    
    
    
}

details{
    /* background-color: antiquewhite; */
    border-radius: 10px;
    font-size: 15;
    padding-left: 20px;
    margin-top: 5px;
    /* background-color: rgb(254, 210, 0);  */
    width:52%;
}

.div-main{
    display: flex;
}

/* .div-main1{
    display: flex;
} */

.div-main1_1{
    display: flex;
}
.div-main1_2{
    display: flex;
}

.div-main2_1{
    display: flex;
}
.div-main2_2{
    display: flex;
}

.div-main3_1{
    display: flex;
}
.div-main3_2{
    display: flex;
}

h3{
    font-size: 40;
    color: rgb(254, 210, 0); 
    background-color:rgba(0, 0, 0, 0.264);
    padding: 10px;
    border-radius: 100px;
    
    
}
.players h3{
    display:flex;
    justify-content: center;
    
}

.players img{
    display: flex;
    width:50%;
    justify-content:center;
    /* z-index: 2; */
}
.players1{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.ourpartners{
    height:100vh;
    scroll-margin: 65px;
}

.etihad{
   display: flex;
   justify-content: center;
}

.fedex{
    display: flex;
    justify-content: center;
}

.astral{
    
    display: flex;
    justify-content: center;
}

.img1{
    margin:0 5 0 5px;
}

.equitas{
    display: flex;
    justify-content: center;
}

.contactus{
    
    height:100vh;
    scroll-margin: 65px;
}

.contact{
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    margin-top: 250px;
}


@keyframes move{
    0%{
        transform:translateY(100px);
        /* backdrop-filter: blur(50px); */
    }
    100%{
        transform: translateY(0px);
        /* backdrop-filter: blur(10); */
    }
}
